h1, h2, h3 {
	font-family: 'Walter Turncoat', sans-serif;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 32px;
}

p {
	font-family: 'Joan', serif;
}

@media (max-width: 992px){
    h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 28px;
	}
}