h1, h2, h3 {
	font-family: 'Walter Turncoat', sans-serif;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 32px;
}

p {
	font-family: 'Pangolin', serif;
}

@media (max-width: 992px){
    h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 28px;
	}
}

body {
  background-size: 0.5cm 0.5cm;
  background-image: radial-gradient(circle, #bababa 1px, rgba(0, 0, 0, 0) 1px);
}