.tagline {
    font-size: 32px;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.landing-content {
    margin-top: 50px;
}

.emoji-logo {
    font-size: 0.8em;
    white-space: pre;
}

.grid-image {
    width: 100%;
}

.grid-square {
    padding: 15px;
}

@media (max-width: 992px) {
    .tagline {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .header h1 {
        white-space: nowrap;
        font-size: 40px;
        font-size: 12vw;
    }

    .tagline {
        white-space: nowrap;
        font-size: 20px;
        font-size: 4.3vw;
    }
}

h2 {
    padding-bottom: 18px;
}