.tagline {
    font-size: 32px;
}

@media (max-width: 992px) {
    .tagline {
        font-size: 24px;
    }
}

.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.emoji-logo {
    font-size: 0.8em;
    white-space: pre;
}

.grid-image {
    width: 100%;
    border-radius: 10px;
}

.grid-square {
    padding: 15px;
}