{% block style_links %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'teablog/css/header.css' %}" />
{% endblock %}

<div class="container">
    <div class="header">
        <a class="nostyle" href="{% url 'landing' %}">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="logo">nyc tea blog <span class="emoji-logo"> 🍵</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="tagline">a blog exploring the tea houses of New York City</p>
                </div>
            </div>
        </a>
    </div>
    <hr class="header-hr" />
</div>