{% extends "teablog/base.html" %}

{% block style_links %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'teablog/css/landing.css' %}" />
{% endblock %}


{% block content %}

<div class="container content">
	<div class="row">
		<div class="col-sm-6 about">
			<h2>we're on a mission to experience every tea house in new york city</h2>
			<p>This blog is run by Grayson Pike and Devika Kumar. Together we hope to visit and review every tea house in New York City.</p>
		</div>
		<div class="col-sm-6 images">
			<div class="row flex-nowrap">
				<div class="col grid-square">
					<img class="grid-image" src="{% static 'teablog/img/tea-ceremony-cropped-600px.jpg' %}" />
				</div>
				<div class="col grid-square">
					<img class="grid-image" src="{% static 'teablog/img/kettl-tea-dining-room-cropped-600px.jpg' %}" />
				</div>
			</div>
			<div class="row flex-nowrap">
				<div class="col grid-square">
					<img class="grid-image" src="{% static 'teablog/img/prince-tea-house-cropped-600px.jpg' %}" />
				</div>
				<div class="col grid-square">
					<img class="grid-image" src="{% static 'teablog/img/brooklyn-puerh-cropped-600px.jpg' %}" />
				</div>
			</div>
		</div>
	</div>
    <div class="row posts-list-title">
		<div class="col-sm-12">
			<h2>Tea House Reviews</h2>
		</div>
	</div>
    <a class="nostyle" href="{% url 'alices-tea-cup' %}">
        <div class="row review-listing flex-nowrap">
            <div class="col">
                <img src="{% static 'teablog/img/alices_tea_cup_chapter_1_outside.jpg' %}" />
                <div class="post-name">
                    <h3>Alice's Tea Cup</h3>
                    <br/>
                    <p>102 W 73rd St, Upper West Side</p>
                </div>
            </div>
        </div>
    </a>
</div>

{% endblock %}